body {
    font-size: 40px;
    background-color:darkblue;
    color: yellow;
    font-family: "Gupter", serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 800px;
    margin: 0;
}

button {
    background-color: whitesmoke;
    color: black;
    font-size: 30px;
    font-family: "Gupter", serif;
}

.btn-proximo1{
    background-color: rgb(216, 0, 0);
    color: black;
    font-size: 30px;
    font-family: "Gupter", serif;
}

.btn-proximo2{
    background-color: rgb(10, 99, 21);
    color: black;
    font-size: 30px;
    font-family: "Gupter", serif;
}

.btn-proximo3{
       background-color: rgb(0, 123, 194);
    color: black;
    font-size: 30px;
    font-family: "Gupter", serif;
}
